#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.task-control {
  display: flex;
}
.task-input {
  padding: 10px;
  width: 100%;
}
.single-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  margin-right: 8px;
}
.submit-button {
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
}
.delete-button {
  background-color: transparent;
  border: none;
}
.task-edit-field {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-items: start;
  gap: 0 1rem;
  margin-bottom: 0.75rem;
}
.task-form {
  margin-bottom: 20px;
}
.task-edit-container,
main {
  padding: 50px;
  border: 4px solid rgb(40, 40, 50);
  border-radius: 10px;
  background-color: rgb(23, 23, 23);
}
main {
  width: 400px;
}
.task-edit-container button {
  width: 100%;
  margin-bottom: 5px;
}
.task-edit-container .success {
  color: green;
}
.task-edit-container .error {
  color: red;
}
