.progress-bar {
  width: 100%;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
}

.progress-bar-fill {
  height: 5px;
  background-color: rgb(0, 141, 33);
  position: absolute;
  left: -15px;
  bottom: -2px;
  width: 0%;
  transition: width 1s ease-in-out;
}
