.task-detail-container {
  padding: 2rem;
  width: 100%;
  max-width: 40rem;
  border: none;
  border-radius: 0.625rem;
  background-color: var(--primary-color);
  box-shadow: var(--primary-color-light-rgba) 0px 54px 55px,
    var(--primary-color-light-rgba) 0px -12px 30px,
    var(--primary-color-light-rgba) 0px 4px 6px,
    var(--primary-color-light-rgba) 0px 12px 13px,
    var(--primary-color-light-rgba) 0px -3px 5px;
  box-sizing: border-box;
  margin: 0 auto;
}

.task-detail-input-field {
  display: grid;
  grid-template-columns: minmax(100px, auto) 1fr;
  align-items: center;
  justify-items: start;
  gap: 0 5rem;
  margin-bottom: 0.75rem;
  color: var(--primary-color-dark-rgba);
  font-size: 1.1rem;
}
.task-detail-input-field p {
  color: var(--text-color);
  font-size: 1rem;
  word-break: break-word;
  overflow-wrap: break-word;
}
.task-detail-input-field span {
  color: var(--text-color);
}

.task-detail-input {
  width: 100%;
  padding: 0.625rem 10px;
  text-align: center;
  border: 1px solid var(--transparent-color);
  border-radius: 0.3125rem;
  background-color: var(--primary-color-dark-rgba);
  box-sizing: border-box;
}

.task-detail-submit-btn {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.6em 1.2em;
  background-color: var(--primary-color-dark-rgba);
  border: 1px solid var(--transparent-color);
  color: var(--title-color);
  cursor: pointer;
  margin-bottom: 0.3125rem;
  box-sizing: border-box;
}

.task-detail-container button:hover {
  background-color: var(--primary-color);
}
.task-detail-form-group {
  display: flex;
  flex-direction: column;
}

.task-detail-message {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  margin-top: 1.25rem;
  text-align: center;
  font-size: 1.2rem;
}

.task-detail-message.show {
  visibility: visible;
  opacity: 1;
}

.task-detail-message.success {
  color: greenyellow;
}

.task-detail-message.error {
  color: red;
}

@media (min-width: 0px) {
  .task-detail-container {
    padding: 1rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .task-detail-container {
    padding: 1.5rem 2.5rem;
  }
}

@media (min-width: 1024px) {
  .task-detail-container {
    padding: 2rem 3.5rem;
  }
}
